<div class="nested-fields item">
<div class="col-md-12">    
<div class="pull-right">
<%= link_to_remove_association f  do%>
    <i class="fa fa-minus"></i>
<% end %>
</div>
</div>
    <div class="col-sm-3">
            <%= f.input :nome %>
        </div>
        <div class="col-sm-3">
            <%= f.input :email, input_html:{:type => 'email'}%>
        </div>
        <div class="col-sm-3">
            <%= f.input :telefone, input_html:{:type => 'tel'} %>
        </div>
        <div class="col-sm-3">
            <%= f.input :observacao, :label => 'Identificação', :placeholder => 'Ex. Cargo, setor' %>
        </div>

</div>