<div class="nested-fields item">
    <table  class="table table-bordered table-hover">
  <thead>
    <tr>
        <th>Produto</th>
        <th>Material</th>
        <th>Saldo</th>
        <th>Mínimo</th>
        <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cliente.cliente_estoques.each do |estoque| %>
        <tr>
            <td><%= estoque.produto.name if estoque.produto%></td>
            <td><%= estoque.material.name if estoque.material %></td>
            <td><%= estoque.saldo %></td>
             <% @cliente.cliente_estoque_minimos.each do |minimo| %>
            <td>
                <%if minimo.produto_id == estoque.produto_id && minimo.material_id ==  estoque.material_id%>
                    <%= minimo.quantidade %>
                <% end %>
            </td>
            <td>
                <%if minimo.produto_id == estoque.produto_id && minimo.material_id ==  estoque.material_id%>
                <%= f.simple_fields_for :cliente_estoque_minimos do |builder| %>
                    <%if builder.object.id == minimo.id%>
                        <%= render partial: 'cliente_estoque_minimo_fields',locals: {:f => builder} %>
                        <a href="#" onclick="OpenModalEstoqueMinimo(); return false;">Editar</a> 
                    <% end %>
                <% end %>
                <% end %>
            </td>
            <% end %>
        </tr>
      <% end %>
  </tbody>
</table>    

</div>



