<div class="nested-fields">

<div class="box-tools pull-right">
    <%= link_to_remove_association f  do%>
    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    <% end %>
</div><!-- /.box-tools -->


        <div class="col-sm-3">
            <%= f.input :name, :label => "Título", input_html: {id: "name"}%>
        </div>
        <div class="col-sm-3">
            <%= f.input :observacao, :label => 'Observações' %>
        </div>
        <div class="col-sm-3">
            <%= f.input :cep, input_html: {class: "cep", onkeyup: "BuscarCep()"}%>
        </div>        
        <div class="col-sm-3">
            <%= f.input :rua, input_html: { class: "logradouro"} %>
        </div>    
        <div class="col-sm-3">
            <%= f.input :numero, :label => 'Número' %>
        </div>
        <div class="col-sm-3">
            <%= f.input :complemento %>
        </div>
        <div class="col-sm-3">
            <%= f.input :bairro, input_html: { class: "bairro"} %>
        </div>
        <div class="col-sm-3">
            <%var = "estado_" + (Random.rand(10...42)).to_s %>
         <%= f.input :estado_id, collection: Estado.all, input_html: { id: var, class: 'estado', onchange: "DynamicSelect()" }%>
        </div>
        <div class="col-sm-3">
            <%= f.input :cidade_id, collection: Cidade.where("estado_id = ?", f.object.estado_id),input_html: { 
                        class: 'cidade',
                         "data-option-dependent" => true,
                         "data-option-observed" => var,
                         "data-option-url" => "/estado/:estado_id:/cidades.json",
                         "data-option-key-method" => :id,
                         "data-option-value-method" => :name } %>
         </div>

        <div class="col-sm-3">
            <%= f.input :forma_entrega_id,:collection => FormaEntrega.all,:label_method => :name,:value_method => :id,:label => "Forma de Entrega" ,:include_blank => false %>     
        </div>
        <div class="col-sm-3">
            <%= f.label :rota %>
            <%= f.select :rota, Date::DAYNAMES.zip((0..6).to_a),  { :include_blank=>true }, { :class => 'string optional form-control' } %>
        </div>
</div>
