<% if @clientes.size == 0 %>
   <i class="fa fa-fw fa-meh-o" style="font-size: 100px; color: #ccc"></i>

<% else %>
    <% @clientes.each do |cliente| %>
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title"> <%= cliente.nome_fantasia %></h3>
                <%if cliente.cliente_status_id == 2 %>
                <span class="label pull-right label-danger"><%= cliente.cliente_status.name if cliente.cliente_status %></span>
                <%else%>
                <span class="label  pull-right label-success"><%= cliente.cliente_status.name if cliente.cliente_status %></span>
                <%end%>

            </div>
            <div class="box-body">
                <div class="col-sm-8">

                  <small>Cadastrado em:</small> <%= l(cliente.created_at.to_s) if cliente.created_at %>  <br/> 
                  <small>Vendedor:</small> <%= cliente.user.name if cliente.user %>  <br/>
               </div>
                <div class="col-sm-2 ">
            
                    </div>
                <div class="col-sm-2 no-padding ">
                      <%=link_to "Editar",  edit_cliente_path(cliente),  :class => "btn btn-block btn-success btn-flat"%>
                
                    </div>


            </div><!-- /.box-body -->
        </div>
    <%end%>


    <%= will_paginate @clientes%>
<%end%>

