<% if @pedido_vendas.size == 0 %>
   <i class="fa fa-fw fa-meh-o" style="font-size: 100px; color: #ccc"></i>

<% else %>
    <% @pedido_vendas.each do |pedido_venda| %>
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title"><small>Código:</small> <%= pedido_venda.id %> </h3>
                 <%if pedido_venda.pedido_venda_status_id == 2 %>
                <span class="pull-right label label-danger"><%= pedido_venda.pedido_venda_status.name if pedido_venda.pedido_venda_status %></span>
            <%else%>
                <span class="pull-right label label-success"><%= pedido_venda.pedido_venda_status.name if pedido_venda.pedido_venda_status %></span>
            <%end%>

            </div>
            <div class="box-body">
                <div class="col-sm-8">

                   <small>Cliente:</small> <%= pedido_venda.cliente.nome_fantasia %> <br/>
                  <small>Solicitado em:</small> <%= l(pedido_venda.data_solicitacao) if pedido_venda.data_solicitacao %> <br/>
                  <small>Vendedor:</small> <%= pedido_venda.user.name if pedido_venda.user %>  <br/>
                    <small>Produtos:
                <%pedido_venda.pedido_venda_items.each do |item| %> 
                            <%= item.produto.name if item.produto %> -
                            <%= item.material.name if item.material %>,
                    <%end%>
                 </small>
              </div>
                <div class="col-sm-2 ">
              <%= number_to_currency(pedido_venda.calculate_totals)  %>
                
                    </div>
                <div class="col-sm-2 no-padding ">
                      <%=link_to "Editar",  edit_pedido_venda_path(pedido_venda),  :class => "btn btn-block btn-success  btn-flat"%>
                
                    </div>




            </div><!-- /.box-body -->
        </div>
    <%end%>
<%end%>


