<% if @orcamentos.size == 0 %>
   <div class="blank_slate_container">
              <span class="blank_slate">
                <span>Não há orçamentos para serem exibidos</span><br/>
            <small><%=link_to "Clique aqui",  new_orcamento_path%> e crie um novo orçamento.</small>
              </span>
            </div> 
<% else %>
    <% @orcamentos.each do |orcamento| %>
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title"><small>Código:</small> <%= orcamento.id %> </h3>
                 <%if orcamento.orcamento_status_id == 2 %>
                <span class="pull-right label label-danger"><%= orcamento.orcamento_status.name if orcamento.orcamento_status %></span>
            <%else%>
                <span class="pull-right label label-success"><%= orcamento.orcamento_status.name if orcamento.orcamento_status %></span>
            <%end%>

            </div>
            <div class="box-body">
                <div class="col-sm-8">

                   <small>Cliente:</small> <%= orcamento.cliente.nome_fantasia %> <br/>
                  <small>Solicitado em:</small> <%= l(orcamento.data_solicitacao) if orcamento.data_solicitacao %>  - 
                    <small>Aprovado em:</small> <%= l(orcamento.data_aprovacao) if orcamento.data_aprovacao %> <br/>
                  <small>Vendedor:</small> <%= orcamento.user.name if orcamento.user %>  <br/>
                    <small>Produtos:
                <%orcamento.orcamento_items.each do |item| %> 
                            <%= item.produto.name if item.produto %> -
                            <%= item.material.name if item.material %>,
                    <%end%>
                 </small>
              </div>
                <div class="col-sm-2 ">
              <%= number_to_currency(orcamento.calculate_totals)  %>
                
                    </div>
                <div class="col-sm-2 no-padding ">
                      <%=link_to "Editar",  edit_orcamento_path(orcamento),  :class => "btn btn-block btn-success btn-flat"%>
                
                    </div>




            </div><!-- /.box-body -->
        </div>
    <%end%>
<%end%>
