<div class="col-md-3 sidebar-filter">
    <div class="margin-bottom">
<%= link_to 'Adicionar', new_orcamento_path, :class => 'btn btn-block btn-success btn-flat margin-bottom' %>
  </div>
 
        
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Código</h3>
    </div>
    <div class="box-body">
        <div class="col-md-12 margin-bottom">    
                        
    <%= form_tag orcamentos_path, :id => "search", :method => 'get' do %>   
    <%= text_field_tag :search_with, params[:search_with], type: :number, :class => 'form-control  input-sm', :placeholder => "Buscar por código" %> 
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
<% end %>  
            
</div>
    </div><!-- /.box-body -->
  </div><!-- /. box -->
  
    
    
<%= form_tag orcamentos_path, :id => "filter_form", :class => "filter_form", :method => 'get' do %>   
    
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Cliente</h3>
    </div>
    <div class="box-body">
        <div class="col-md-12 margin-bottom">    
                        
    <%= text_field_tag :cliente_name, params[:cliente_name], :class => 'form-control  input-sm', :placeholder => "Buscar por cliente" %> 
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
            
</div>
    </div><!-- /.box-body -->
  </div><!-- /. box -->
  
    
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Data de Solicitação</h3>
    </div>
    <div class="box-body">
        <div class="col-md-12 margin-bottom">    
                        
             <div class="search_with_date">
            <%= text_field_tag :solicitacao_start_date, params[:solicitacao_start_date],   :class => 'form-control  datepicker input-sm date_time', :placeholder =>'De'  %>  
            <span>-</span>
        <%= text_field_tag :solicitacao_end_date, params[:solicitacao_end_date],   :class => 'form-control datepicker  input-sm date_time',:placeholder =>'Até' %> 
        </div>
            
</div>
    </div><!-- /.box-body -->
  </div><!-- /. box -->
  
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Data de Aprovação</h3>
    </div>
    <div class="box-body">
        <div class="col-md-12 margin-bottom">    
                        
             <div class="search_with_date">
            <%= text_field_tag :aprovacao_start_date, params[:aprovacao_start_date],   :class => 'form-control  datepicker input-sm date_time', :placeholder =>'De' %>  
            <span>-</span>
        <%= text_field_tag :aprovacao_end_date, params[:aprovacao_end_date],   :class => 'form-control datepicker  input-sm date_time',:placeholder =>'Até' %> 
        </div>
            
</div>
    </div><!-- /.box-body -->
  </div><!-- /. box -->
  

    
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Status</h3>
    </div>
    <div class="box-body  sidebar-scroll">
        <ul class="nav nav-pills nav-stacked">
            <% @status.each do |status| %>
             <li>
                <a href='#' onclick="SubmitFilter();return false;">              
                    <%= check_box_tag "status[]", status.id %>
                    <%= status.name %>
                 </a>
            </li>
            <% end %>

      </ul>

    </div><!-- /.box-body -->
  </div><!-- /. box -->
      
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Vendedores</h3>
    </div>
    <div class="box-body sidebar-scroll">
      <form class="filter_form", method="get">
        <ul class="nav nav-pills nav-stacked">
            <% @vendedores.each do |vendedor| %>
             <li>
                <a href='#' onclick="SubmitFilter();return false;">
                    <%= check_box_tag("vendedor[]", vendedor.id) %>
                <%= vendedor.name %> </a>
            </li>
            <% end %>
      </ul>
    </div><!-- /.box-body -->
  </div><!-- /. box -->
          
    
<% end %>  
</div> 
