<div class="col-md-3">
    <div class="col-md-12 margin-bottom">
<%= link_to 'Adicionar', new_orcamento_path, :class => 'btn btn-block btn-success btn-flat margin-bottom' %>
  </div>
    

  <div class="col-md-12">    
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Status</h3>
    </div>
    <div class="box-body no-padding">
      <ul class="nav nav-pills nav-stacked">
          <li><%= link_to 'Todos', orcamentos_path %></li>

            <% @orcamentos_statuses.each do |status| %>
            <li><%= link_to  status.name, :status =>  status.id %></li>
            <%end%>

      </ul>
    </div><!-- /.box-body -->
  </div><!-- /. box -->
</div>
    
      <div class="col-md-12">                 
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Vendedores</h3>
    </div>
    <div class="box-body no-padding">
      <ul class="nav nav-pills nav-stacked">
          <li><%= link_to 'Todos', orcamentos_path %></li>

        <% @vendedores.each do |vendedor| %>
           <li>
               <%= link_to  vendedor.name, :vendedor =>  vendedor.id %>
          </li>
        <%end%>

      </ul>
    </div><!-- /.box-body -->
  </div><!-- /. box -->
</div>
</div>