<aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">
    <ul class="sidebar-menu">
        <li>
            <%= nav_link clientes_path,"<i class='fa fa-fw fa-user'></i> Clientes"  %>
            </li>
        <li>
            <%= nav_link orcamentos_path, "<i class='fa fa-fw fa-tag'></i> Orçamentos"%>
        </li>
        <li>      
            <%= nav_link pedido_vendas_path, "<i class='fa fa-fw fa-shopping-cart'></i> Pedidos de Vendas" %>
        </li>
        <li>
            <%= nav_link layouts_path, "<i class='fa fa-fw fa-pencil'></i> Layouts" %>
         </li>
        <li>
            <%= nav_link ordem_producaos_path, "<i class='fa fa-fw fa-file-text'></i> Ordens de Produção" %>
        </li>
    </ul>
    </section>
</aside>

