<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @layout.name %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @layout.cliente_id %>
</p>

<p>
  <strong>Data aprovacao:</strong>
  <%= @layout.data_aprovacao %>
</p>

<p>
  <strong>Pedido layout status:</strong>
  <%= @layout.pedido_layout_status_id %>
</p>

<p>
  <strong>Impressora:</strong>
  <%= @layout.impressora_id %>
</p>

<p>
  <strong>Impressora config:</strong>
  <%= @layout.impressora_config_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @layout.produto_id %>
</p>

<p>
  <strong>Material:</strong>
  <%= @layout.material_id %>
</p>

<p>
  <strong>Codigo barra:</strong>
  <%= @layout.codigo_barra_id %>
</p>

<p>
  <strong>Digitos:</strong>
  <%= @layout.digitos %>
</p>

<p>
  <strong>Furo:</strong>
  <%= @layout.furo %>
</p>

<p>
  <strong>Etiqueta:</strong>
  <%= @layout.etiqueta %>
</p>

<p>
  <strong>Porta cracha:</strong>
  <%= @layout.porta_cracha %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @layout.observacao %>
</p>

<%= link_to 'Edit', edit_layout_path(@layout) %> |
<%= link_to 'Back', layouts_path %>
